@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$green: #40b749;
$black: #121212;
$grey: #777171;
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

section {
  margin-top: 50px;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.link {
  color: $green;
  text-decoration: none;
  font-size: 1.1rem;
}

.link:hover {
  text-decoration: underline;
}
