@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
[data-theme="dark"] {
  --background-color: #292e34;
  --text-color: #fff;
}

[data-theme="light"] {
  --background-color: #fff;
  --text-color: #121212;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.link {
  text-decoration: none;
  font-size: 1.1rem;
}

.link:hover {
  text-decoration: underline;
}

.blue {
  color: #41b6e6;
}

.pink {
  color: #db3eb1;
}
.heroSection {
  height: 100vh;
}

.heroContent {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr;
}

.heroTop {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  min-height: 15vh;
  width: 100%;

  .brand {
    pointer-events: none;
    user-select: none;
    display: flex;
    align-items: center;
    flex-direction: row;

    .logo {
      width: 117px;
      height: 85px;
    }

    .brandRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
    }
  }

  .navLinks {
    align-self: center;
    margin-right: 0px;
    margin-left: auto;

    .link {
      color: white;
      font-weight: 700;
      margin: 0 30px;
      text-decoration: none;
    }
  }
}

.buttonToggle {
  position: absolute;
  top: 5.5rem;
  right: 2.5rem;
  align-self: center;
  margin-right: 0px;
  margin-left: auto;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .buttonToggle {
    display: flex;
  }

  .logo {
    width: 80px !important;
    height: 60px !important;
  }

  .brand {
    margin-top: 20px;

    .brandRight {
      display: none !important;
    }
  }

  #navLinks {
    display: none;
  }

  .navLinks {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    gap: 30px;

    .navLinks.active {
      display: flex;
    }

    .link {
      color: white;
      font-weight: 700;
      margin: 30px 0;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }
}

.heroLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 2.3rem;
    font-family: "poppins";
  }

  h2 {
    font-size: 2.7rem;
    font-family: "Roboto", sans-serif;
  }

  button {
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    height: 70px;
    width: 250px;
    border-radius: 22px;
    color: var(--text-color);
    font-size: 1.35rem;
  }

  .btn1 {
    background-color: #41b6e6;
    border-color: #41b6e6;
    margin-right: 50px;
  }

  .btn2 {
    background-color: #db3eb1;
    border-color: #db3eb1;
  }
}

.heroRight {
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: auto;
}

.navbox {
  background-color: --background-color;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 70%;
  }

  .heroSection {
    height: 100%;

    align-items: center;
    justify-content: center;
  }
  .heroContent {
    height: 100%;
  }

  .heroLeft {
    margin-top: 10vh;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button {
      max-width: 220px;
    }
  }

  .person {
    width: 35vw;
    height: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .heroLeft button {
    width: 200px;
  }
}

@media only screen and (max-width: 920px) {
  html {
    font-size: 65%;
  }

  .heroContent {
    grid-template-columns: 1fr;
    grid-template-rows: min-content(40vh) 1fr 1fr;
  }

  .heroTop {
    margin-bottom: 30px;
  }

  .heroLeft {
    margin-bottom: 40px;
    button {
      width: 170px;
      height: 50px;
      border-radius: 22px;
    }
  }

  .heroRight {
    height: 100%;
    width: 100%;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heroLeft {
    margin-bottom: 70px;
    button {
      width: 140px;
      height: 45px;
      border-radius: 22px;
    }
  }
}
