@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
[data-theme="dark"] {
  --background-color: #292e34;
  --text-color: #fff;
}

[data-theme="light"] {
  --background-color: #fff;
  --text-color: #121212;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.link {
  text-decoration: none;
  font-size: 1.1rem;
}

.link:hover {
  text-decoration: underline;
}

.blue {
  color: #41b6e6;
}

.pink {
  color: #db3eb1;
}
.heroSection {
  height: 100vh;
}

.heroContent {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr;
}

.heroTop {
  grid-column-start: 1;
  grid-column-end: 3;
}

.navbar {
  background-color: red;
  height: 100%;
  width: 100%;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 2.3rem;
    font-family: "poppins";
  }

  h2 {
    font-size: 2.7rem;
    font-family: "Roboto", sans-serif;
  }

  button {
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    height: 70px;
    width: 250px;
    border-radius: 22px;
    color: var(--text-color);
    font-size: 1.35rem;
  }

  .btn1 {
    background-color: #41b6e6;
    border-color: #41b6e6;
    margin-right: 50px;
  }

  .btn2 {
    background-color: #db3eb1;
    border-color: #db3eb1;
  }
}

.heroRight {
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: auto;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 70%;
  }

  .heroSection {
    height: 100%;

    align-items: center;
    justify-content: center;
  }
  .heroContent {
    height: 100%;
  }

  .heroLeft {
    margin-top: 10vh;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .person {
    width: 35vw;
    height: auto;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 65%;
  }

  .heroContent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .heroLeft {
    margin-bottom: 70px;
    button {
      width: 170px;
      height: 50px;
      border-radius: 22px;
    }
  }

  .heroRight {
    grid-row-start: 3;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heroLeft {
    margin-bottom: 70px;
    button {
      width: 140px;
      height: 45px;
      border-radius: 22px;
    }
  }
}
